@use "../utils" as *;

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $color-text-dark;
  background-color: $color-background-light;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid #07e419;
}
