@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../../fonts/raleway/raleway.woff2") format("woff2"),
    url("../../fonts/raleway/raleway.woff") format("woff");
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../../fonts/comfortaa/comfortaa.woff2") format("woff2"),
    url("../../fonts/comfortaa/comfortaa.woff") format("woff");
}
