@use "./variables" as *;

@mixin section-title {
  margin: 0;

  font-family: $font-heading;
  font-size: 36px;
  color: $color-accent-dark;
  text-align: center;
  font-weight: 400;

  @media (min-width: $breakpoint-medium) {
    font-size: 48px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 52px;
  }
}

@mixin text(
  $font-size: 16px,
  $line-height: 1,
  $color: $color-text-dark,
  $align: left
) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-align: $align;
}
