$font-heading: "Comfortaa", sans-serif;
$font-body: "Raleway", sans-serif;

$color-text-dark: #000000;
$color-text-light: #fbfcfe;
$color-text-gray: rgba(#8e9892, 0.7);

$color-background-light: #fbfcfe;
$color-background-medium: #f1f6fc;
$color-background-dark: rgba(#8e9892, 0.7);

$color-bright: #b22ec8;
$color-bright-dark: #6a107a;
$color-bright-soft: rgba(#6a107a, 0.6);

$color-accent: #7bdb0a;
$color-accent-dark: #0f805d;
$color-accent-soft: rgba(#0f805d, 0.5);

$color-error: #ff8282;

$border-radius: 40px;
$border-radius-small: 20px;
$border-radius-checkbox: 5px;

$breakpoint-medium: 768px;
$breakpoint-large: 1300px;
$breakpoint-mobile-only: 767px;

$shadow-bright: 0 4px 4px 0 rgba(#580d65, 0.5);
$shadow: 0 4px 4px 0 rgba(#580d65, 0.25);
$shadow-bright-inset: 0 4px 4px 0 rgba(#580d65, 0.68) inset;

