/* GLOBAL */
@use "./common/fonts";
@use "./common/base";
@use "./common/visually-hidden";

/* BLOCKS */
/* common */
@use "./blocks/section-title";

/* page-header */
@use "./blocks/page-header";
@use "./blocks/container";
@use "./blocks/logo";
@use "./blocks/main-navigation";

/* page-footer */
@use "./blocks/page-footer";
@use "./blocks/contacts";
@use "./blocks/map";
@use "./blocks/social";
@use "./blocks/copyright";
