@use "../utils" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0 auto;
  max-width: 264px;
  min-height: 56px;
  border: none;
  border-radius: $border-radius;
  background-color: $color-bright-dark;

  cursor: pointer;
  font-family: "Raleway", sans-serif;

  @include text(
    $font-size: 20px,
    $line-height: 1,
    $color: $color-text-light
  );

  letter-spacing: 1px;

  box-shadow: $shadow;

  &:disabled {
    background-color: $color-disabled;
    box-shadow: none;
    cursor: default;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    background-color: $color-bright;
  }

  &:not(:disabled):active {
    background-color: $color-bright-soft;
  }

  &:not(.button--small) {
    @media (min-width: $breakpoint-medium) {
      max-width: 336px;
      min-height: 68px;

      font-size: 28px;
      letter-spacing: 1.2px;
      padding: 12px 12px 12px 18px;
    }
  }
}

.button--small {
  max-width: 220px;
  min-height: 52px;
}
