@use "../utils" as *;

.card {
  display: flex;
  flex-direction: column;
  padding: 0 0 54px;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-bright;
  }
}

.card__title {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 17px;
  padding: 12px 24px;
  font-size: 28px;
  color: $color-accent-dark;
  text-align: center;
  font-weight: 400;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card__link {
  display: flex;
  flex-direction: column;
}

.card__link:focus-visible {
  outline: none;
}

.card__link:hover .card__title {
  color: $color-accent;
}

.card__link:focus-visible .card__title {
  color: $color-accent;

  outline: 2px solid $color-bright-dark;
  outline-offset: -2px;
  border-radius: 10px;
}

.card__link:active .card__title {
  color: rgba($color-accent-dark, 0.5);
}

.card__image-wrapper {
  order: -1;
  margin: 0 0 19px;
  min-height: 180px;
}

.card__link:hover .card__image-wrapper {
  filter: brightness(1.2);
}

.card__link:focus-visible .card__image-wrapper {
  filter: brightness(1.2);
}

.card__link:active .card__image-wrapper {
  filter: brightness(0.9);
}

.card__image {
  max-height: 180px;
}

.card__wrapper {
  padding: 0 0 0 4px;
  margin: auto 0 0;
}

.card__price {
  margin: 0 0 38px;

  @include text(
    $font-size: 18px,
    $line-height: 20px,
    $color: $color-text-dark,
    $align: center
  );

  &::after {
    content: "за 1 кг";
    display: inline-block;
    margin: 0 0 0 18px;
  }
}

.card__button {
  position: relative;
  z-index: 2;
  box-shadow: none;
}
