@use "../utils" as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 54px;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow-soft;
}

.card__title {
  margin: 0 0 29px;
  font-size: 28px;
  color: $color-accent-dark;
  text-align: center;
  font-weight: 400;
}

.card__link {
  position: static;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card__image-wrapper {
  order: -1;
  margin: 0 0 31px;
}

.card__wrapper {
  padding: 0 0 0 4px;
}

.card__price {
  margin: 0 0 38px;

  @include text(
    $font-size: 18px,
    $line-height: 20px,
    $color: $color-text-dark,
    $align: center
  );

  &::after {
    content: "за 1 кг";
    display: inline-block;
    margin: 0 0 0 18px;
  }
}

.card__button {
  position: relative;
  z-index: 2;
  box-shadow: none;
}
