@use "../utils" as *;

.contacts {
  padding: 62px 0 0;

  @media (min-width: $breakpoint-medium) {
    padding: 73px 0 0;
  }

  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 552px 1fr;
    gap: 22px;
    padding: 100px 0 0;
  }
}

.contacts__wrapper {
  max-width: 266px;
  margin: 0 auto 24px;

  @media (min-width: $breakpoint-medium) {
    max-width: 408px;
    margin: 0 auto 40px;
  }

  @media (min-width: $breakpoint-large) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 100%;
    margin: 0 auto;
  }
}

.contacts__title {
  margin: 0 0 70px;
  line-height: 40px;

  @media (min-width: $breakpoint-medium) {
    margin: 0 0 74px;
    padding: 0 4px 0 0;
    line-height: 54px;
  }

  @media (min-width: $breakpoint-large) {
    margin: 0 0 75px;
    line-height: 58px;
  }
}

.contacts__text {
  @include text(
    $font-size: 16px,
    $line-height: 19px,
    $color: $color-text-dark,
    $align: center
  );

  margin: 0 0 34px;

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
    text-align: left;
    margin: 0 0 22px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 0 0 0 47px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-large) {
    padding: 0 0 0 47px;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin: 0 0 12px;
  }
}

.contacts__contact {
  margin: 0;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 4px;
  align-items: center;

  @include text(
    $font-size: 14px,
    $line-height: 16px
  );

  @media (min-width: $breakpoint-medium) {
    font-size: 16px;
    line-height: 20px;

    align-items: start;
    width: fit-content;
  }
}

.contacts__contact--link {
  &:hover,
  &:focus-visible {
    color: $color-accent;
    fill: $color-accent;
  }

  &:active {
    color: $color-accent-dark;
    fill: $color-accent-dark;
  }
}

.contacts__contact--phone span,
.contacts__contact--mail span {
  position: relative;
  bottom: 2px;

  @media (min-width: $breakpoint-medium) {
    bottom: 0;
  }
}

.contacts__contact span {
  @media (min-width: $breakpoint-medium) {
    padding: 7px 0 0;
  }
}

.contacts__map {
  @media (min-width: $breakpoint-large) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
