@use "../utils" as *;

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 26px;

  @media (min-width: $breakpoint-medium) {
    max-width: 768px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 1180px;
  }
}

