@use "../utils" as *;

.logo {
  display: block;
  color: $color-accent-dark;

  @media (min-width: $breakpoint-medium) {
    display: flex;
  }
}

.logo__image {
  display: block;
  width: 52px;
  height: 52px;

  @media (min-width: $breakpoint-medium) {
    width: 60px;
    height: 60px;
  }
}

.logo__image--header {
  @media (min-width: $breakpoint-medium) {
    width: 58px;
    height: 60px;

    transform: scaleY(1.03);
  }

  @media (min-width: $breakpoint-large) {
    width: 60px;
    height: 60px;
    transform: none;
  }
}

.logo__text {
  display: none;

  @media (min-width: $breakpoint-medium) {
    display: block;
    fill: $color-accent-dark;
  }
}

.logo:hover,
.logo:focus-visible {
  color: $color-accent;
}

.logo:active {
  color: rgba($color-accent-dark, 0.5);
}
