@use "../utils" as *;

.main-navigation {
  padding: 18px 24px;

  @media (min-width: $breakpoint-medium) {
    padding: 0;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 716px;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-left: auto;
  }

  @media (min-width: $breakpoint-large) {
    margin-left: 0;
  }
}

.main-navigation__link {
  display: block;
  padding: 16px;

  @include text(20px);
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:hover,
  &:focus-visible {
    color: $color-accent;
  }

  &:active {
    color: $color-accent-dark;
  }


  @media (min-width: $breakpoint-medium) {
    padding: 22px 16px 18px;
    min-width: 128px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 22px 28px 18px;
    min-width: 160px;
  }
}

.main-navigation__link--current {
  color: $color-accent-dark;
}
