@use "../utils" as *;

.news {
  padding: 96px 26px 60px;

  @include divider-leaves;

  @media (min-width: $breakpoint-medium) {
    padding: 122px 26px 110px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 149px 26px 100px;
  }
}

.news__title {
  line-height: 40px;
  margin: 0 0 64px;

  @media (min-width: $breakpoint-medium) {
    padding: 0 12px 0 8px;
    margin: 0 0 78px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 0;
    margin: 0 0 107px;
  }
}

.news__list {
  max-width: 268px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-medium) {
    max-width: 100%;
    flex-flow: row wrap;
    gap: 34px 20px;
    justify-content: center;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 1128px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 24px;
  }
}
