@use "../utils" as *;

.page-footer {
  padding: 42px 0 0;
  background-image: url("../../icons/divider-leaves.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 228px 32px;

  @media (min-width: $breakpoint-medium) {
    background-size: 296px 42px;
  }
}

.page-footer__contacts {
  margin: 0 0 60px;

  @media (min-width: $breakpoint-medium) {
    margin: 0 0 100px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 1124px;
    margin: 0 auto 100px;
  }
}

.page-footer__wrapper {
  background-color: $color-background-medium;
}

.page-footer__container {
  position: relative;
  padding: 20px 26px 20px 100px;

  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 36px 26px 28px 40px;
  }

  @media (min-width: $breakpoint-large) {
    max-width: 1128px;
    margin: 0 auto;
    padding: 34px 3px 34px 18px;
  }
}

.page-footer__logo {
  position: absolute;
  top: 11px;
  left: 26px;

  @media (min-width: $breakpoint-medium) {
    top: 22px;
    left: 20px;
  }

  @media (min-width: $breakpoint-large) {
    top: 24px;
    left: 0;
  }
}

.page-footer__social-wrapper {
  margin: 0 0 20px auto;
  max-width: fit-content;

  @media (min-width: $breakpoint-medium) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin: 0;
  }
}

.page-footer__copyright {
  margin: 0 0 0 auto;

  @media (min-width: $breakpoint-medium) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 3px 0 0;
  }

  @media (min-width: $breakpoint-large) {
    padding: 6px 0 0;
  }
}
